@model OrnamentsWebApplication.ViewModel.CategoryViewModel


<h2>Create</h2>

<form method="post">
    <div class="form-group">
        <label>Category</label>
        <input type="text" name="Name" class="form-control"  placeholder="Enter the category name">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" name="Description" class="form-control" placeholder="Enter description of the category">
        

     
    </div>
    <div class="form-group">
        <label>Upload Image</label>
        <input id="ImageURL" name="ImageURL" type="hidden"/>
        <input id="imageUpload" type="file" name="Image" accept=".png,.jpg,.jpeg" class="form-control">
        <div class="thumb">
            
            <img id="categoryImage">
        </div>
        

        @if (ViewBag.message != null)
        {
            <h4 class="text-primary">  @ViewBag.message</h4>
        }
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<section>
    <div class="container">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">SL</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">ImageURL</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1; }
                @foreach (var categories in Model.Categories)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@categories.Name</td>
                        <td>@categories.Description</td>
                        <td>@categories.ImageURL</td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = categories.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = categories.Id })
                        </td>
                    </tr>

                }


            </tbody>
        </table>
    </div>
</section>

<script>
    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
            
        .done(function(response) {
            console.log(response);
          
            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#categoryImage").attr("src", response.ImageURL);
            }
        })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
</script>

