
@model OrnamentsWebApplication.ViewModel.CheckoutViewModel


@if (Model != null && Model.CartProducts != null && Model.CartProducts.Count > 0)
{
    var i = 1;
    <section class="flat-row main-shop shop-slidebar">
        <div id="content" class="container">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                    </h4>
                    <ul class="list-group mb-3">
                        @foreach (var product in Model.CartProducts)
                        {
                            var productQuantity = Model.CartProductsIds.Where(productID => productID == product.Id).Count();

                            <li class="list-group-item d-flex justify-content-between lh-condensed" data-id="@product.Id">
                                <div>
                                    <h6 class="my-0">@i - @product.Name - Quantity: @productQuantity</h6>
                                    <small class="text-muted">@(product.Description.Length > 100 ? product.Description.Substring(0, 99) : product.Description)</small>
                                </div>
                                <span class="text-muted">Unit Price: $ @product.Price - Total Price: @(productQuantity * product.Price)</span>
                            </li>
                        

                            i++;
                        }
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong>$ @Model.CartProducts.Sum(x => x.Price * Model.CartProductsIds.Where(productID => productID == x.Id).Count())</strong>
                           @{
                               Session["totalSes"] = Model.CartProducts.Sum(x => x.Price * Model.CartProductsIds.Where(productID => productID == x.Id).Count());
                           }
                        </li>
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">Billing address</h4>
                        <form class="needs-validation" novalidate="">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="firstName">Invoice Number</label>
                                    <label style="display: none">@Model.invoiceNumber</label>
                                    <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber" placeholder="" value="@Model.invoiceNumber" required="">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="firstName">Name</label>
                                    <label style="display: none">@Model.User.Name</label>
                                    <input type="text" class="form-control" id="Name" placeholder="" value="@Model.User.Name" required="">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                <label style="display: none">@Model.User.Email</label>
                                <input type="email" class="form-control" id="Email" placeholder="you@example.com" value="@Model.User.Email">
                            </div>
                            <div class="mb-3">
                                <label for="address">Address</label>
                                <label style="display: none">@Model.User.Address</label>
                                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="" value="@Model.User.Address">
                            </div>
                            <hr class="mb-4">

                            <div id="editor"></div>
                            <button id="placeOrderBtn" class="btn btn-primary btn-lg btn-block" type="button">Place Order!</button>
                            <button href="@Url.Action("PaymentWithPaypal","Paypal")" id="onlinePayBtn" class="btn btn-primary btn-sm btn-block">Pay Online</button>
                        </form>

                    </div>
                }
                else  
                {
                <button href="@Url.Action("Register","Account")" class="btn btn-primary btn-lg btn-block" type="button">Register</button>
              
                }

            </div>
        </div><!-- /.container -->
    </section>


    <script>
        $("#placeOrderBtn").click(function () {
            $.ajax({
                    url: '@Url.Action("PlaceOrder", "Shop")',
                    data: {
                        productIDs: '@string.Join("-", Model.CartProductsIds)',
                        invoice: $("#invoiceNumber").val()
                    }
                })
                .done(function (response) {
                    if(response.Success)
                    {
                        $.cookie('CartProducts', '', { path: '/' });
                        updateCartProducts();
                        @*swal("Done", "Your Order has been placed.", "success").then((value) => {
                            window.location = '@Url.Action("Index", "Shop")';
                        })*@
                        swal("Done", "Your Order has been placed.", "success");
                        ;;



                    }
                    else{
                        swal("Failed", "Unable to place order.", "warning");
                    }
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        });
    </script>






    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>

    <script>
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#placeOrderBtn').click(function () {
            doc.fromHTML($('#content').html(), 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
            doc.save('Invoice.pdf');
        });
    </script>
}
else
{
    <div>
        <b>No Products in Cart.</b>
    </div>
}

