@model OrnamentsWebApplication.ViewModel.TrackOrderViewModel

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        TrackOrder
                    </h2>
                </div>
            </div>
        </div>

        <div id="tableContiner">
            <div>
                <form method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Track Your Order by Invoice Number</label>

                                <input class="form-control" name="invoiceNumber" />
                            </div>
                            <input type="hidden" class="form-control" name="UserID" value="@Model.UserID" />
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Action</label>
                                <div class="row">
                                    <div class="col-md-4 pr-0">
                                        <button class="btn btn-primary form-control" type="submit">Track</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <table id="OrdersTable" class="table table-striped">
                    <thead>
                        <tr>
                            
                            <th class="font-weight-bold">Invoice Number</th>
                            <th class="font-weight-bold">Email</th>
                            <th class="font-weight-bold">Date</th>
                            <th class="font-weight-bold">Total Price</th>
                            <th class="font-weight-bold">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Orders != null && Model.Orders.Count > 0)
                        {

                            foreach (var order in Model.Orders)
                            {
                                <tr>
                                    <td>@order.invoiceNumber</td>
                                    <td>@order.UserName</td>
                                    <td>@order.OrderAt</td>
                                    <td>@order.TotalAmount</td>
                                    <td>@order.Status</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-danger" colspan="4">No Order found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <hr />
    </div>
    
</section>

